<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}Welcome {% endblock %} | TravelApp</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="flex justify-between text-violet-50 bg-violet-500 px-6 py-4 flex-col md:flex-row gap-5">
      <a href="{% url 'core:dashboard' %}">

    <span class="text-3xl tracking-widest">TravelApp</span>
      </a>

    <ul class="flex justify-start flex-wrap items-center gap-2">
        <li><a href="{% url 'booking:bookings' %}" class="md:text-xl btn hover:text-white bg-teal-500 hover:bg-teal-700 px-4 py-2 rounded-xl">Bookings</a></li>

        <li><a href="{% url 'core:dashboard' %}" class="md:text-xl btn hover:text-white bg-teal-500 hover:bg-teal-700 px-4 py-2 rounded-xl">Explore</a></li>
        {% if request.user.is_authenticated %}

        <li><a href="{% url 'core:account' %}" class="md:text-xl btn hover:text-white bg-blue-500 hover:bg-blue-700 px-4 py-2 rounded-xl" >Account</a></li>

        <li>    
          <form action="{% url 'core:logout' %}" method="post">
            {% csrf_token %}
          <button type="submit" class="md:text-xl btn hover:text-white bg-red-500 hover:bg-red-700 px-4 py-2 rounded-xl">Logout</button>
          </form>

        </li>

        {% else %}

        <li><a href="{% url 'core:login' %}" class="md:text-xl btn hover:text-white bg-blue-500 hover:bg-blue-700 px-4 py-2 rounded-xl">Login</a></li>

        <li><a href="{% url 'core:signup' %}" class="md:text-xl btn hover:text-white bg-blue-500 hover:bg-blue-700 px-4 py-2 rounded-xl">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>


    <div class="px-6">{% block content %} 
      <div class="flex flex-col gap-5 items-center justify-center h-screen">
        <h1 class="text-center text-6xl tracking-widest text-stone-500">Welcome To Our Travel App</h1>
        <a href="{% url 'core:dashboard' %}" class="btn rounded-full bg-violet-500 hover:bg-violet-700 text-white text-lg px-8 py-4">Click to continue..</a>

      </div>
{% endblock %}</div>
  </body>
</html>
